/* ========== Responsive CSS Start here ============ */

@media screen and (max-width: 1100px) {
    
    .hero-typed .greating {
        font-size: 1.3rem;
    }
    .hero-typed #element {
        font-size: 1.3rem;
    }
}
@media screen and (max-width: 992px) {
    
    .hero-typed{
        display: block;
        padding-bottom: 0;
    }
    .hero-typed .greating{
        padding: .5rem 2rem;
        font-size: 1.5rem;
    }
    .hero-typed .greating-box {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .hero-typed #element {
        margin-top: 1rem;
        margin-left: 0;
        text-align: center;
        width: 100%;
        display: block;
        font-size: 1.5rem;
    }
    .owl-carousel{
        padding: 1rem 6.25rem;
    }
    .main-nav{
        display: none;
    }
    .open-nav {
        display: block;
        margin-top: -.2rem;
        float: right;
        color: #fff;
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
        float: none;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
      footer {
        padding: 1rem 1rem;
      }
}
@media screen and (max-width: 800px) {
    .nav, .hero-typed, footer {
        padding: 1rem 1rem;
    }
    .hero-typed {
        padding: 5rem 1rem 0 1rem;
    }
    .owl-carousel {
        padding: 1rem 1rem;
    }
    footer span, .footer-link {
        width: 100%;
        display: block;
        margin: auto;
        text-align: center;
    }
}

/* ========== Responsive CSS End here ============ */